body {
  font-family: 'Marck Script', cursive;
  background-color: #ff4c68;
}

a {
  color: #272343;
}

.container-fluid {
  background-color: #ff4c68;
  padding: 3% 15% 7%;

}

h1 {
  font-family: 'Jura-bold', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

h3 {
  font-family: 'Jura-bold', sans-serif;
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {

  font-weight: bold;
  font-size: 3rem;
}

/* navigation bar */
.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  font-weight: bold;
}

.navbar {
  background-color: #ff4c68;
  padding: 0 0 5.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Josefin Slab', serif;
}

.ml-auto {
  padding: 0;
}

.nav-item {
  padding: 0 18px;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-im {
  width: 80%;
  position: absolute;
  left: 15%;
}